:80 {
    encode gzip zstd

    route {
        @backend_health path /health
        reverse_proxy @backend_health backend:5000

        @api path /api/*
        handle @api {
            uri strip_prefix /api
            reverse_proxy backend:5000
        }

        handle {
            root * /srv
            try_files {path} /index.html
            file_server
        }
    }
}
